.contactSection {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align content to the top */
  width: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column; /* Stack the content vertically */
}

.contactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.contactInfo {
  text-align: left;
}

.infoItem {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: flex-start;
}

.icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  color: #2C98F0;
  padding: 25px;
  background-color: #f2f3f7;
  text-align: center;
}

.infoText {
  font-size: 16px;
  color: #2C98F0;
}

.contactForm {
  background-color: #fff;
  border-radius: 8px;
  width: 80%;
  box-sizing: border-box;
}

.formGroup {
  margin-bottom: 20px;
}

.inputField,
.textarea {
  width: 100%;
  padding: 15px 18px;
  font-size: 16px;
  background-color: #f2f3f7;
  outline: none;
  border: none;
  transition: background-color 0.3s;
  font-family: 'Quicksand';
}

.submitButton {
  padding: 12px;
  font-size: 12px;
  color: #fff;
  background-color: #2C98F0;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
}

/* Media Queries for Responsiveness */

@media screen and (max-width: 1200px) {
  .contactContainer {
    grid-template-columns: 1fr; /* Stack the columns on medium screens */
    gap: 20px;
  }

  .contactInfo {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .contactSection {
    padding: 0 10px; /* Reduce padding on smaller screens */
  }

  .contactContainer {
    grid-template-columns: 1fr; /* Stack the columns on mobile screens */
    gap: 15px;
  }

  .icon {
    width: 40px;
    height: 40px;
    padding: 15px; /* Adjust icon size on smaller screens */
  }

  .infoText {
    font-size: 14px; /* Reduce font size on smaller screens */
  }

  .contactForm {
    width: 100%; /* Ensure the form takes full width */
  }

  .inputField,
  .textarea {
    padding: 12px; /* Adjust padding on smaller screens */
  }

  .submitButton {
    font-size: 14px; /* Increase button text size */
    padding: 14px; /* Adjust padding on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .infoText {
    font-size: 12px; /* Further reduce text size on very small screens */
  }

  .inputField,
  .textarea {
    font-size: 14px; /* Adjust input font size */
  }

  .submitButton {
    font-size: 14px;
    padding: 14px;
  }
}
