/* Base Grid Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

/* Card Styling */
.card {
  text-align: center;
  background-color: #f3efef44;
  padding: 1.5rem 1rem;
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
  overflow: visible;
}

/* Icon Container */
.iconContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  width: 85px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/* Specific background colors for each icon container */
.green {
  background-color: #2fa499;
}

.navy {
  background-color: #4054b2;
}

.yellow {
  background-color: #f9bf3f;
}

.red {
  background-color: #ec5453;
}

.purple {
  background-color: #a84cb8;
}

.blue {
  background-color: #2c98f0;
}

/* Card Border Colors */
.bdgreen {
  border-bottom: 2px solid #2fa499; /* Thicker border for better visibility */
}

.bdnavy {
  border-bottom: 2px solid #4054b2;
}

.bdyellow {
  border-bottom: 2px solid #f9bf3f;
}

.bdred {
  border-bottom: 2px solid #ec5453;
}

.bdpurple {
  border-bottom: 2px solid #a84cb8;
}

.bdblue {
  border-bottom: 2px solid #2c98f0;
}

/* Icon Styling */
.icon {
  font-size: 1.5rem;
  color: #fff;
}

/* Text Title Styling */
.textTitle {
  font-size: .9rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #333;
  text-transform: uppercase;
}

/* Text Description Styling */
.textDescription {
  font-size: .9rem;
  color: #6c757d;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 2;
}

/* Responsive Design */

/* Adjust grid for medium screens */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .iconContainer {
    width: 60px;
    height: 60px;
  }

  .icon {
    font-size: 1.2rem;
  }

  .textTitle {
    font-size: 0.9rem;
  }

  .textDescription {
    font-size: 0.8rem;
  }

  .card {
    margin-top: 20px;
  }
}

/* Adjust grid for small screens */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .iconContainer {
    width: 60px;
    height: 60px;
  }

  .icon {
    font-size: 1.2rem;
  }

  .textTitle {
    font-size: 0.9rem;
  }

  .textDescription {
    font-size: 0.8rem;
  }

  .card {
    margin-top: 20px;
  }
}
